<h1>new</h1>
<%= form_with model: @cart_item,url: cart_items_path do |f| %>
    <p>
        <%= f.label :name,"商品名" %>: 
        <%= Product.find(params[:id]).name %>
    </p>
    <p>
        <%= f.label :price,"価格" %>: 
        <%= Product.find(params[:id]).price %>円
    </p>
    <p>
        <%= f.label :qty,"数量" %>: 
        <%= f.number_field :qty %><br>
    </p>
    <%= f.hidden_field :product_id , value: params[:id]  %>
    <%= f.submit "カートに追加" %>
<% end %>