<h1>商品一覧</h1>
<% @products.each do |e| %>
    商品名 : <%= e.name %>　　￥<%= e.price%>  <%= link_to "削除", product_path(e) ,data: { turbo_method: :delete } %>  <%= link_to "カートに追加", new_cart_item_path(id: e.id) %>
<br>
<% end %>

<%= link_to "新規追加" , new_product_path %>    <%= link_to "カート" , cart_path(current_cart.id) %>